/*------------GLOBAL------------*/
* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: SegoeUI;
	src: url(fonts/segoeui.ttf);
}

@font-face {
	font-family: SegoeUIL;
	src: url(fonts/segoeuil.ttf);
}

a {
	color: #fff;
	text-decoration: none;
}
/*------------CHAT------------*/

.window {
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
	background-color: #fff;	
}

.header {
	background-color: #212026;
	width: 100%;
	height: 45px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9999;
	color: #fff;
	text-align: center;
	line-height: 45px;
	font-size: 22px;
	font-family: SegoeUI;
}

.space1 {
	width: 200px;
	height: 110px;
	float: left;
}
.lsidebar {
	height: 100%;
	width: 220px;
	background-color: #212026;
		overflow: scroll;
	z-index: 9998;
	position: absolute;
	left: 0;
	overflow-x: hidden;
}

.text {
	height: 110px;
	background-color: #ecf0f1;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.area {
	resize: none;
	width: 380px;
	height: 60px;
	padding: 10px;
	float: left;
	font-family: SegoeUI;
	font-size: 16px;

}

.innerarea {
	width: 504px;
	height: 100px;
	margin: 0 auto;
	padding-top: 15px;
	padding-left: 200px;

}

.messageButtons {
	width: 100px;
	height: 82px;
	border-spacing:  0;
	background-color: #212026;
	font-family: SegoeUI;
	color: #fff;
	font-size: 14px;
	text-align: center;

}

.messageButtons td {
	border: 1px solid #1b1a20;

}

.messages {
	margin-left: 220px;
	background-color: #fff;
	height: 100%;
	overflow: scroll;
}

.people {
	font-family: SegoeUI;
	color: #fff;
	font-size: 22px;
	width: 200px;
	line-height: 45px;

	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
		padding-left: 25px;
}

.members {
	width: 200px;
	border: 0;
	border-spacing: 0;
	margin-top: 45px;

}

.wrapper {
	padding-right: 10px;
}
.memberName {
	width: 125px;
	padding-left: 25px;
	height: 35px;
	line-height: 30px;
	font-family: SegoeUI;
	color: #fff;
	font-size: 14px;
	border-top: 1px solid #18171d;
}

.space {
	height: 65px;
}
.memberStatus {
	border-top: 1px solid #18171d;
}

input[name="online"] {
	display: none;
}

input[name="online"] + label span {
    display:inline-block;
    width:10px;
    height:10px;
    vertical-align:middle;
    background:url(images/online.png) left top no-repeat;
    cursor:pointer;
}

input[name="offline"] {
	display: none;
}

input[name="offline"] + label span {
    display:inline-block;
    width:10px;
    height:10px;
    vertical-align:middle;
    background:url(images/offline.png) left top no-repeat;
    cursor:pointer;
}



.chatWindow {
	background-color: #fff;
	width: 100%;
	height: 100%;
	margin-right: 5px;
 
}

.area:focus {
	outline: 0;
}

.msgLeft{
	width: inherit;
	min-height: 60px;
	background-color: #ecf0f1;
	margin-left: 10px;
	font-family: SegoeUI;
	font-size: 14px;
	margin-bottom: 10px;
}

.msgName {
	padding: 0 10px 0 0;
}

.msgTime {
	padding: 0 20px 0 10px;
}

.name {
	width: inherit;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #e0e5e6;
}

.mess {

	padding: 5px 10px 5px 10px;
}

.kostil {
	position: absolute;
	bottom: 0;
	height: 110px;
	right: 0;
}

/*----------------------------------СТРАНИЦА ВХОДА------------------------------------*/

.enter {
	width: 350px;
	height: 400px;
	background-color: #212026;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	text-align: center;
	box-shadow: 0 0 100px rgba(0,0,0,0.4);
}

.enter h1 {
	font-family: SegoeUI;
	font-size: 55px;
	color: #fff;
	margin-bottom: 0px;
	padding-top: 20px;
	font-weight: 600;
}

.enter table {
	border-spacing:  0;
	font-family: SegoeUI;
	font-size: 16px;
	color: #fff;
    margin: 0 auto;
}


.entertext {
	text-align: left;
	height: 40px;
	vertical-align: bottom;
	padding-bottom: 5px;
}

.enter table input{
	height: 30px;
	width: 220px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}

.enter table input:focus {
	outline: 0;
}

.enter form > input[type="submit"] {
	margin-top: 35px;
	width: 270px;
	height: 40px;
	font-size: 18px;
	background-color: #fff;
	border: 0;
}

.enterbody {
	background-color: #ecf0f1;
}

.enterCheck {
	width: 15px !important;
	margin-right: 10px;
}

.checkbox {
	margin-top: 25px;
	float: left;
	padding-left: 40px;
	color: #fff;
	font-family: SegoeUI;
}

.icon1, .icon2 {
	height: 30px;
	width: 35px;
	background-color: #18171d;
	position: relative;
}

.icon1 {
	background-color: #c0392b !important
}

.icon1 img, .icon2 img {
	position: absolute;
	top: 10px;
	left: 10px;
}

.relative {
	position: relative;
}
.error1 {
	position: absolute;
	right: -285px;
	top: 1px;
	background-color: #c0392b;
	padding: 6px 8px;
}

.rel {
	position: relative;
}

.rel::after {
    content: ''; 
    position: absolute; 
    left: -27px; bottom: 0px; 
    border: 10px solid transparent; 
    border-right: 10px solid #c0392b; 
}

.profile {
	width: 250px;
	height: inherit;
	border-left: 1px solid #18171d;
	background-color: #212026;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
}

.avatar {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: #fff;
	position: absolute;
	left: -50px;
	top: -5px;
	display: none; /*!*/
}

.profile > span {
	position: relative;
}

.sidebar {
	height: 2000px;
	width: 250px;
	background-color: #212026;
}

.menu {
	margin-top: 45px;
	color: #fff;
	font-size: 18px;
	font-family: SegoeUI;
}

.menu > li {
	padding-left: 15px;
	height: 30px;
	background-color: #18171d;
	line-height: 30px;
}
